/* styling for the body */
body {
    background-color: rgb(206, 149, 216);
}
/* styling for the paragraphs*/
p{
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: initial;
}
/* styling for the list */
li{
font-style: italic;
color: rgb(16, 45, 112);
}
/* styling for the table */
table, th, td {
    border:1px solid black;
}